.main_abtus {
  background-color: #14181c;
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 18px;
  margin: 2% 20% 2% 20%;
  /* min-height: 100vh; */
}

.main_abtus ul {
list-style: none;
padding: 0;
}

.main_abtus li {
padding: 10px;
}

.main_abtus li:not(:last-of-type) {
border-bottom: 2px solid #456;
}

hr {
border-color: #456;
}

.main_abtus li p {
padding: 5px;
padding-left: 20px;
margin: 5px;
}

.main_abtus li h3 {
margin: 5px;
}
