/* Your existing styles */

.card {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.299);
}

/* FlexBox */
.flex {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next row */
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
    flex-wrap: nowrap;
    /* Disable wrapping for columns */
}

.justify-centre {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.items-between {
    align-items: space-between;
}

.txt-align {
    text-align: center;
}

/* Margins */
.m-1 {
    margin: 10px;
}

.m-2 {
    margin: 30px;
}

.m-3 {
    margin: 30px;
}

/* ... other margin styles ... */

/* Padding */
.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

/* ... other padding styles ... */

/* Spaces */
.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

/* Screen and Text Sizes */
.h-screen {
    height: 100vh;
}

.w-screen {
    width: 100vw;
}

.w-full {
    width: 100%;
}

.text-sm {
    font-size: 14px;
}

.text-md {
    font-size: 16px;
}

.text-lg {
    font-size: 18px;
}

.text-xl {
    font-size: 20px;
}

.text-2xl {
    font-size: 24px;
}

/* Border */
.border {
    border-width: 1px;
}

/* Seat Styles */
.seat {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b1b1b1;
    color: #e3e2e2;
    cursor: pointer;
    margin: 2px;
    /* Add some margin between seats for better visibility */
}

.selected-seat {
    background-color: green;
}

.booked-seat {
    background-color: red;
}

.selected-seat h1 {
    color: white !important;
}



