.revenue-select-div {
    width: 10%;
    margin-bottom: 1%;
}

.revenue-select-box {
    display: block;
    appearance: none;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.375rem;
    background-color: #a3d4ec;
    border: none;
    cursor: pointer;
}

.revenue-select-div {
    min-width: 350px;
    position: relative;
}

.revenue-select-div::before,
.revenue-select-div::after {
    --size: 0.3rem;
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
}

.revenue-select-div::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 65%;
}

.revenue-select-div::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 75%;
}